<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	</head>
	<body>
		<div style="margin-top: 15vh"></div>
		<div style="max-width: 60%; max-height: 700px; margin: auto">
			<canvas id="myChart"></canvas>
		</div>
	</body>
	<script>
		var ctx = document.getElementById("myChart");
		var myChart = new Chart(ctx, {
			type: "line",
			data: {
				labels: [
					"Semester 2",
					"Semester 2",
					"Semester 3",
					"Semester 4",
					"Semester 5",
					"Semester 6",
					"Semester 7",
					"Semester 8",
				],
				datasets: [
					{
						label: "CGPA over Semesters",
						data: [8.2, 9.2, 9.4, 9.1, 8.8, 8.9, 8.8, 9.0],
						backgroundColor: [
							"rgba(255, 99, 132, 0.2)",
							"rgba(54, 162, 235, 0.2)",
							"rgba(255, 206, 86, 0.2)",
							"rgba(75, 192, 192, 0.2)",
							"rgba(153, 102, 255, 0.2)",
							"rgba(255, 159, 64, 0.2)",
							"rgba(54, 162, 235, 0.2)",
							"rgba(255, 206, 86, 0.2)",
						],
						borderColor: [
							"rgba(255, 99, 132, 1)",
							"rgba(54, 162, 235, 1)",
							"rgba(255, 206, 86, 1)",
							"rgba(75, 192, 192, 1)",
							"rgba(153, 102, 255, 1)",
							"rgba(255, 159, 64, 1)",
							"rgba(255, 206, 86, 1)",
							"rgba(75, 192, 192, 1)",
						],
						borderWidth: 1,
					},
				],
			},
			options: {},
		});
	</script>
</html>
