<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<style>
			body {
				background: #e0eafc; /* fallback for old browsers */
				background: -webkit-linear-gradient(
					to right,
					#cfdef3,
					#e0eafc
				); /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(
					to right,
					#cfdef3,
					#e0eafc
				); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			}
		</style>
	</head>
	<body>
		<div style="margin-top: 15vh"></div>
		<div style="margin-left: 35vw; margin-right: 35vw">
			<canvas
				id="myChart"
				style="max-width: 100%; max-height: 700px"
			></canvas>
		</div>
	</body>
	<script>
		var ctx = document.getElementById("myChart");
		var myChart = new Chart(ctx, {
			type: "doughnut",
			data: {
				labels: [
					"Social",
					"Research",
					"Sports",
					"Work Experience",
					"Awards",
				],
				datasets: [
					{
						label: "CGPA over Semesters",
						data: [20, 50, 9.4, 8, 33],
						backgroundColor: [
							"rgba(255, 99, 132, 0.2)",
							"rgba(54, 162, 235, 0.2)",
							"rgba(255, 206, 86, 0.2)",
							"rgba(75, 192, 192, 0.2)",
							"rgba(153, 102, 255, 0.2)",
						],
						borderColor: [
							"rgba(255, 99, 132, 1)",
							"rgba(54, 162, 235, 1)",
							"rgba(255, 206, 86, 1)",
							"rgba(75, 192, 192, 1)",
							"rgba(153, 102, 255, 1)",
						],
						borderWidth: 1,
					},
				],
			},
			options: {},
		});
	</script>
</html>
